* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: 'AnticSlab';
  src: url('./fonts/AnticSlab-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Amiri';
  src: url('./fonts/AmiriQuran-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
